.keyboard-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  max-width: 480px;
  max-height: 136px;
  margin: 0 auto;
  margin-top: 20px;
}

.key-box {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background-color: #FCBA29;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  user-select: none;
  border: 1px solid #D7D7D7;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.key-box:hover {
  background-color: #ccc;
}

.key-box:active {
  transform: scale(0.95); /* small press effect */
}
