section.game-status {
    width: 352px;
    height: 59px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 4px;
    font-family: "Hanken Grotesk";
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    color: #F9F4DA;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
  margin-top: 20px;

}

section.game-status h3 {
    font-size: 20px;
    margin: 1px; 
}

section.game-status p {
    font-size: 16px;
    margin: 1px; 
}

