* {
    box-sizing: border-box;
}
body{
  height: 100%;
  background-color: #282726;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

